extends _layout.pug 

block styles 
    include css/main.css

block content 
    ul.inventory 
        each ingredient in ingredients 
            li.name= ingredient.name 
                .quantity= ingredient.quantity 
                .expiry= ingredient.expiry